<!DOCTYPE html>
<html>
<head>
	<title>SiteScraper</title>
</head>
<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<body>
<nav class="navbar">
	<h2>SiteScraper</h2>
	<ul>
		<a href="">
		<li>Saved articles</li>	
		</a>
		<a href="" class="newArt">
		<li>Scrape new articles</li>	
		</a>
	</ul>
</nav>
<div class="largeImg">
	<h1>SiteScraper</h1>
	<p>View and save articles now</p>
</div>
{{{body}}}
</body>
</html>