{{#each article}}
<div class="panel panel-default panel-info">
	<div class="panel-heading">
		<a href="{{link}}" target="_blank"><p class="panel-title ">{{headline}}</p></a>
	</div>
	<div class="panel-body">
		<p class="">{{summary}}</p>
		<ul>
			<li>{{comment.comment}}<li>
		</ul>
	</div>
</div>
{{/each}}